{% extends 'common/base.html' %}
{% load static %}



{% block title %} Services | UpMeee {% endblock title %}


{% block content %}


    <!--Main-->
    <main class="ptf-main">
                <div class="ptf-spacer" style=" --ptf-xxl: 3.75rem;"></div>
                <article class="ptf-page ptf-page--services">
                    <section>
                        <!--Spacer-->
                        <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
                        <div class="container-xxl">
                            <div class="row">
                                <div class="col-lg-3">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                                        <h1 class="large-heading">Our <br>Services</h1>
                                        <!--Spacer-->
                                        <div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
                                        <p class="fz-18">We at UpMeee are passionate specialists in delivering modern digital solutions designed to propel your success. Our extensive range of services includes :
</p>
                                    </div>
                                    <!--Spacer-->
                                    <div class="ptf-spacer" style=" --ptf-lg: 4.375rem; --ptf-md: 2.1875rem;"></div>
                                </div>
                                <div class="col-lg-8 offset-lg-1">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                                        <!--Services Box-->
                                        <div class="ptf-service-box "><a class="ptf-service-box__link"
                                                href="{% url 'UIUX' %}"></a>
                                            <div class="ptf-service-box__icon"><i class="lnil lnil-vector-pen"></i></div>
                                            <h5 class="ptf-service-box__title">UI & UX <br>Design Sloution</h5>
                                            <div class="ptf-service-box__content">
                                                <p>We worked hard to create interfaces that are both aesthetically beautiful and simple to use. Because to our UI/UX expertise, your digital products will be more user-friendly, increasing user engagement and pleasure.</p>
                                            </div>
                                            <div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                                        <!--Services Box-->
                                        <div class="ptf-service-box "><a class="ptf-service-box__link"
                                                href="{% url 'webservices' %}"></a>
                                            <div class="ptf-service-box__icon"><i class="lnil lnil-code"></i>
                                            </div>
                                            <h5 class="ptf-service-box__title">Website <br>Design & Development Solution</h5>
                                            <div class="ptf-service-box__content">
                                                <p>We create stunning websites that are both functional and visually appealing. We adapt the design to your specifications and ensure that it functions properly, whether it's a company website or a personal blog.
                                                </p>
                                            </div>
                                            <div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                                        <!--Services Box-->
                                        <div class="ptf-service-box "><a class="ptf-service-box__link"
                                                href="{% url 'mobileservices' %}"></a>
                                            <div class="ptf-service-box__icon"><i class="lnil lnil-Mobile"></i></div>
                                            <h5 class="ptf-service-box__title">Mobile Application <br>Design & Development Solution</h5>
                                            <div class="ptf-service-box__content">
                                                <p>Our team is experienced in developing user-friendly iOS and Android apps. From design to development, we ensure that your software is user-friendly, safe, and capable of reaching a big audience.


                                                </p>
                                            </div>
                                            <div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Animated Block-->

                                </div>
                            </div>
                        </div>
                        <!--Spacer-->
                        <div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem;"></div>
                    </section>


                    <section>

                        <!--Spacer-->
                        <div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem;"></div>
                        <div class="container-xxl">
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-7">
                                            <!--Animated Block-->
                                            <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                                                <h2 class="h1 large-heading has-accent-1">Technology That We Use
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="col-xl-5 d-none d-xl-block">
                                            <!--Animated Block-->
                                            <div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
                                                <div class="has-black-color fz-90 lh-1 text-end"><svg
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        style="height:1em" viewBox="0 0 17 17">
                                                        <path
                                                            d="M16 .997V10h-1V2.703L4.683 13l-.707-.708L14.291 1.997H6.975v-1H16z" />
                                                    </svg></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem;"></div>
                                <section>



                            </div>
                            <div class="row" style="--bs-gutter-y: 2rem;">
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #fcf8f4; --ptf-image-height: 85px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/image-1.webp'%} " alt="Django"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Django
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #f3f7fc; --ptf-image-height: 78px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/image-2.webp'%} " alt="Codeigniter"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Codeigniter
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #f9fcf3; --ptf-image-height: 90px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/image-3.webp'%} " alt="php"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">php
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="300">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #f9f9f9; --ptf-image-height: 90px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/image-4.webp'%} " alt="wordpress"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">wordpress
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="400">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 62px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/image-5.webp'%} " alt="Node Js"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Node Js
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="500">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 77px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/image-6.webp'%} " alt="Flutter"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Flutter
                                            </h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="--bs-gutter-y: 2rem;">
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #fcf8f4; --ptf-image-height: 85px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/figma.webp'%} " alt="figma Design by whatznot"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Figma
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #f3f7fc; --ptf-image-height: 78px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/illustrator.webp'%} " alt="illustrator Design by whatznot"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Illustrator
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #f9fcf3; --ptf-image-height: 90px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/xd.webp'%} " alt="xd Design by whatznot"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">XD
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="300">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #f9f9f9; --ptf-image-height: 90px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/sketch.webp'%} " alt="sketch Design by whatznot"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Sketch
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="400">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 62px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/photoshop.webp'%} " alt="photoshop Design by whatznot"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Photoshop
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="500">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 77px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/invision.webp'%} " alt="invision Design by whatznot"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Invision
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="row" style="--bs-gutter-y: 2rem;">
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #fcf8f4; --ptf-image-height: 85px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/swift.webp'%} " alt="swift app development by whatznot"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Swift
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #f3f7fc; --ptf-image-height: 78px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/c-logo.webp'%} " alt="Objective-C app development by whatznot"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Objective-C
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #f9fcf3; --ptf-image-height: 90px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/kotlin.webp'%} " alt="Kotlin app development by whatznot"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Kotlin
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="300">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #f9f9f9; --ptf-image-height: 90px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/java.webp'%} " alt="Java app development by whatznot"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Java
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="400">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 62px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/flutter.webp'%} " alt="Flutter app development by whatznot"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">Flutter
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <!--Animated Block-->
                                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="500">
                                        <!--Partner Box-->
                                        <div class="ptf-partner-box"
                                            style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 77px;">
                                            <div class="ptf-partner-box__image"><img
                                                    src="{% static 'assets/img/root/partners/physics.webp'%} " alt="React Native app development by whatznot"
                                                    loading="lazy"></div>
                                            <h6 class="ptf-partner-box__title">React Native
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!--Spacer-->
                                    <div class="ptf-spacer" style=" --ptf-xxl: 8.75rem; --ptf-md: 4.375rem;"></div>

                                </div>
                            </div>
                        </div>
                    </section>







                </article>
            </main>
<section id="services">
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 8.75rem; --ptf-md: 4.375rem;"></div>
                <div class="container">
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                        <h2 class="h1 large-heading has-secondary-font fw-normal">Our Trending Services</h2>
                    </div>
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 1.875rem;"></div>
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
                        <p class="fz-24" style="max-width: 42.5rem;">Welcome to UpMeee - The Best Website Deisgn and Development Company <br>

                            We are your trusted partner in crafting extraordinary digital experiences that transcend boundaries and elevate brands to new heights.</p>
                    </div>
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 5.625rem; --ptf-md: 2.8125rem;"></div>
                    <div class="row" style="--bs-gutter-y: 3.75rem;">
                        <div class="col-12 col-md-6 col-lg-4">
                            <!--Animated Block-->
                            <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                                <h6 class="fz-16 text-uppercase has-3-color fw-normal">UI/UX & Graphic</h6>
                                <!--Spacer-->
                                <div class="ptf-spacer" style=" --ptf-xxl: 2.8125rem;"></div>
                                <!--Services List-->
                                <ul class="ptf-services-list ptf-services-list--style-2">
                                    <li><a href="{% url 'UIUX' %}">Website UI Design<span></span></a></li>
                                    <li><a href="{% url 'UIUX' %}">Mobile App UI Design<span></span></a></li>
                                    <li><a href="{% url 'UIUX' %}">Logo Design<span></span></a></li>
                                    <li><a href="{% url 'UIUX' %}">Graphic Design<span></span></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <!--Animated Block-->
                            <div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
                                <h6 class="fz-16 text-uppercase has-3-color fw-normal">Website Development</h6>
                                <!--Spacer-->
                                <div class="ptf-spacer" style=" --ptf-xxl: 2.8125rem;"></div>
                                <!--Services List-->
                                <ul class="ptf-services-list ptf-services-list--style-2">

                                    <li><a href="{% url 'webservices' %}">Responsive Website Development <span></span></a></li>
                                    <li><a href="{% url 'webservices' %}">Custome Website Development<span></span></a></li>
                                    <li><a href="{% url 'webservices' %}">Wordpress Website Development<span></span></a></li>
                                    <li><a href="{% url 'webservices' %}">Front End Development<span></span></a></li>
                                    <li><a href="{% url 'webservices' %}">Back End & APIs Development<span></span></a></li>
                                    <li><a href="{% url 'webservices' %}">Bug Fix & Maintanance<span></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <!--Animated Block-->
                            <div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
                                <h6 class="fz-16 text-uppercase has-3-color fw-normal">Mobile App Development</h6>
                                <!--Spacer-->
                                <div class="ptf-spacer" style=" --ptf-xxl: 2.8125rem;"></div>
                                <!--Services List-->
                                <ul class="ptf-services-list ptf-services-list--style-2">
                                    <li><a href="{% url 'mobileservices' %}">Android App<span></span></a></li>
                                    <li><a href="{% url 'mobileservices' %}">IOS App<span></span></a></li>
                                    <li><a href="{% url 'mobileservices' %}">Cross Plartfrom<span></span></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            </section>

            <section>
                <div class="container">
                    <div class="ptf-animated-block">
                        <h1 class="fz-130 fz-90--md has-secondary-font fw-normal">We build top-notch solutions
                            for <span class="has-accent-1">brand, web</span> &amp; <span class="has-accent-1">mobile</span> application</h1>
                    </div>
                    <div class="ptf-spacer" style=" --ptf-xxl: 3.75rem;"></div>
                 
                    <section>
						<div class="container">
							<!--Divider-->
							<div class="ptf-divider" style="--ptf-color: var(--ptf-color-14); --ptf-height: 1px;"></div>
						</div>
					</section>
                </div>           
            </section>

            <main class="ptf-main">
                <article class="ptf-page ptf-page--contact">                          
                
                <section>
                        <!--Spacer-->
                        <div class="ptf-spacer" style=" --ptf-xxl:5rem; --ptf-md: 6.25rem;"></div>
                        <div class="container text-center">
                            <div class="d-inline-flex text-start">
                                <!--Animated Block-->
                                <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">
                                    <div class="fz-30">Describe your project</div>
                                    <!--Spacer-->
                                    <div class="ptf-spacer" style=" --ptf-xxl: 1.25rem;"></div>
                                    <div class="fz-130 fz-90--md has-black-color has-secondary-font fw-normal lh-1p1"><a class="ptf-filled-link" href="tell:+919735151074">Call Whatznot</a></div>
                                    <div class="fz-80 has-black-color"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="height:1em" viewBox="0 0 17 17">
                                            <path d="M16 .997V10h-1V2.703L4.683 13l-.707-.708L14.291 1.997H6.975v-1H16z"></path>
                                        </svg></div>
                                </div>
                            </div>
                        </div>
                        <!--Spacer-->
                        <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
                    </section>
                               
                            


</article>
            </main>  

            <section>
                <div class="container">
                    <!--Divider-->
                    <div class="ptf-divider" style="--ptf-color: var(--ptf-color-14); --ptf-height: 1px;"></div>
                </div>
            </section>



          
            <section>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem;"></div>
                <div class="container-xxl">
                    <div class="row">
                        <div class="col-xl-10">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                                <h1 class="large-heading">Unveiling Our Creative Works.</h1>
                            </div>
                        </div>
                    </div>
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 4.375rem;"></div>
                </div>
                <div class="container-xxl">
                    <!--Animated Block-->

                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
                    <!--Animated Block-->

                   <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                                    <div class="ptf-isotope-grid" data-columns="2" data-layout="cellsByRow" data-x-gap="170" data-y-gap="120" style="--ptf-gutter-x:170px; --ptf-gutter-y:120px; position: relative; height: 2724.23px;">
                                        <div class="grid-sizer"></div>
                                        {% for p in portfolio %}
                                        <div class=" grid-item filter-1 filter-4 filter-7" style="position: absolute; left: 0px; top: 0px;">
                                            <!--Portfolio Item-->
                                            <article class="ptf-work ptf-work--style-2">
                                                <div class="ptf-work__media"><a class="ptf-work__link" href="portfolios/{{ p.slug }}"></a><img src="{{ p.portfolio_feature_image.url }}" alt="{{ p.portfolio_name }}" loading="lazy">
                                                </div>
                                                <div class="ptf-work__meta">
                                                    <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">{{ p.portfolio_name }}</a>
                                                    </h4>
                                                    <div class="ptf-work__category">{{ p.service_name }}
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        {% endfor %}
                                    </div>

                   </div>

                </div>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 8.125rem; --ptf-md: 4.0625rem;"></div>
            </section>
<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
            <section>

                <!--Spacer-->
                <div class="container-xxl">
                    <div class="row">

                        <!--Spacer-->
                        <!-- <div class="ptf-spacer" style=" --ptf-xxl: 6.875rem;"></div> -->
                        <!--Animated Block-->
                        <div class="ptf-animated-block">
                            <h3>How We Work</h3>
                            <!--Spacer-->
                            <div class="ptf-spacer" style=" --ptf-xxl: 2.875rem;"></div>
                            <p class="fz-18">Exploring Our Proven Methodology for Delivering Excellence</p>
                        </div>
                        <!--Spacer-->
                        <div class="ptf-spacer" style=" --ptf-xxl: 5.625rem;"></div>
                        <!--Process Steps-->
                        <ul class="ptf-process-steps">
                            <li class="ptf-process-item">
                                <h6 class="ptf-process-item__title"> Understanding Your Vision:
                                </h6>
                                <p class="ptf-process-item__text">We begin our journey by carefully listening to your goals and thoughts. We believe in thoroughly understanding your vision in order to design a digital solution that properly corresponds with your goals.

                                </p>
                            </li>
                            <li class="ptf-process-item">
                                <h6 class="ptf-process-item__title">Crafting Tailored Strategies:
                                </h6>
                                <p class="ptf-process-item__text">We create customized strategies and plans with your vision in mind. Each project is unique, and our approach is adapted to your individual requirements to ensure the best possible results.
                                </p>
                            </li>
                            <li class="ptf-process-item">
                                <h6 class="ptf-process-item__title">Design and Development Excellence:
                                </h6>
                                <p class="ptf-process-item__text">Your concept is brought to life by our talented team of designers and developers. We ensure that your digital solution not only meets, but surpasses your expectations through rigorous design and development.
                                </p>
                            </li>
                            <li class="ptf-process-item">
                                <h6 class="ptf-process-item__title">Rigorous Testing and Quality Assurance:
                                </h6>
                                <p class="ptf-process-item__text">Quality is our number one priority. We rigorously test your project before delivery to ensure it works flawlessly, is secure, and meets industry requirements.
                                </p>
                            </li>
                            <li class="ptf-process-item">
                                <h6 class="ptf-process-item__title">Ongoing Support and Evolution:
                                </h6>
                                <p class="ptf-process-item__text">Our collaboration goes after project completion. We provide ongoing support and coaching to ensure your digital asset remains effective and evolves in line with your business needs.
                                </p>
                            </li>
                        </ul>
                    </div>
                   
                </div>
                
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
            </section>             

            {% include "common/our_partner.html" %}

            <section>
                                <!--Spacer-->
              {% include "common/reviews.html" %}
              {% include "common/partner_site.html" %}




            <section>
                <!--Spacer-->
                {% include "common/c.html" %}




             
        </article>
    </main>

 {% endblock content %}
